// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
	font-family: $headings-font-family;
	font-weight: bold;
	margin: 0 0 0.5em;
	color: $headings-color;
}

h1, .h1 {
	font-size: $h1-font-size;
}

h2, .h2 {
	font-size: $h2-font-size;
}

h3, .h3 {
	font-size: $h3-font-size;
}

h4, .h4 {
	font-size: $h4-font-size;
}

h5, .h5 {
	font-size: $h5-font-size;
}

h6, .h6 {
	font-size: $h6-font-size;
}

p {
	margin: 0 0 1em;
}

a {
	color: $base-link-color;
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

/** Proxima Nova **/
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Mark Simonson - Proxima Nova Alt Black-webfont.eot');
	src: url('../fonts/Mark Simonson - Proxima Nova Alt Black-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Mark Simonson - Proxima Nova Alt Black-webfont.woff2') format('woff2'),
	url('../fonts/Mark Simonson - Proxima Nova Alt Black-webfont.woff') format('woff'),
	url('../fonts/Mark Simonson - Proxima Nova Alt Black-webfont.ttf') format('truetype'),
	url('../fonts/Mark Simonson - Proxima Nova Alt Black-webfont.svg#proxima_nova_altblack') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot');
	src: url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff2') format('woff2'),
	url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff') format('woff'),
	url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.ttf') format('truetype'),
	url('../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.svg#proxima_nova_altbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
	src: url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff2') format('woff2'),
	url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
	url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
	url('../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.eot');
	src: url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff2') format('woff2'),
	url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff') format('woff'),
	url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.ttf') format('truetype'),
	url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.svg#proxima_nova_ltthin') format('svg');
	font-weight: 300;
	font-style: normal;
}
