#header {
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.35);
	position: relative;
	z-index: 10;

	.logo {
		width: 301px;
		float: right;
	}

	.navholder {
		padding: 54px 0 48px;
	}
}

.logo {
	display: inline-block;
	vertical-align: top;

	img {
		max-width: 100%;
		height: auto;
		display: block;
	}

	a {
		display: inline-block;
	}
}

.nav {
	.navbar {
		@extend %listreset;
		letter-spacing: -0.4em;
		margin-left: -20px;
		font-size: 15px;
		line-height: 17px;

		li {
			display: inline-block;
			vertical-align: top;
			letter-spacing: normal;
			margin: 8px 20px 4px;
			position: relative;

			&:hover {

				>a {
					text-shadow:0 0 0.1px black;
					&:before {
						width: 100%;
					}
				}
			}

			>a {
				@include animate(color);
				color: $gray;
				text-decoration: none;
				text-transform: capitalize;
				display: inline-block;
				min-height: 25px;

				&:before {
					display: block;
					position: absolute;
					content: "";
					height: 3px;
					width: 0;
					background: $green;
					transition: width 0.3s ease-in-out;
					left: 0;
					bottom: 0;
				}

				// &:hover {
				// 	text-shadow:0 0 0.1px black;
				// 	border-bottom: 3px solid $green;
				// }


			}
		}
	}
}
